.body {
    color:white;
    display:flex;
    background-color: black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height : 100%;
    
    
}
.top {
    border : solid black 1px;
    width: 100%;
    height : 300px;
    background-image : url('https://img.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28312.jpg?w=1380&t=st=1668362689~exp=1668363289~hmac=20748c3127fcca5a0fd8fe282fe145d5f51380d40887d444337d23b55159e9c6');
    background-size : cover;
    background-repeat: no-repeat;
    color: white;
    text-align:center;
    font-size: 50px;
    line-height: 510%;
    margin-bottom : 50px;
}
.containerTop {
    border : solid black 1px;
    width : 1024px;
    height : 500px;
    display:flex;
    justify-content: space-between;
}
.img {
    height : 450px;
    width: 600px;
    background-repeat  :no-repeat;
    background-size: 400px 700px;
}
.similarImg {
    width : 350px;
    height : 150px;
    margin-bottom : 30px;
}
.hr {
    width: 600px;
    
    color :white;
}
.overview {
    width: 500px;
}
.containerBottom1{
    border : solid white 3px;
    width : 1024px;
    height : 100%;
    background-color: black;
    color : white;
    padding : 5 px;
}
.containerBottom2{
    border : solid black 1px;
    width: 1024px;
    height : 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.reviewBtn {
    border-radius : 5px;
    border : 0px;
    width : 150px;
    height : 60px;
    background-color: red;
    color: white;
}
.reviewBtn2 {
    border-radius : 5px;
    border : 0px;
    width : 150px;
    height : 60px;
    background-color: white;
    color : gray;
}
.relatedBtn {
    border-radius : 5px;
    margin-left : 40px; 
    border : 0px;
    width : 200px;
    height : 60px;
    background-color: red;
    color : white;
}
.relatedBtn2 {
    
    margin-left : 40px; 
    border : 0px;
    width : 200px;
    height : 60px;
    background-color: white;
    color : gray;
}
.btnContainer {
    margin-left : -633px;
    margin-bottom : 20px;
}
.overay {
    opacity: 0;
}

.overay:hover {
    opacity : 1;
    cursor:pointer;
}
.badge {
    margin-right : 10px;    
}
.star {
    margin-right : 5px;
}
.adult {
    
    margin-left : 5px;
    color : red;
    display: inline-block;
}