.background {
    height: 600px;
    color:white;
    display:flex;
    align-items: center;
}
.background::before {
    position:absolute;
    left : 0;
    width: 100%;
    height : 600px;
    content : '';
    background : linear-gradient(to right, black, transparent);
}
.title {
    width : 40%;
    margin-left : 30px;
    z-index:1;
}
