.container {
    z-index:1;
    position:absolute;
    margin-left : -425px;
    margin-top : -500px;
    border : solid white 0px;
    width : 1024px;
    height : 600px;
    background-color: black;
    color:black;
}
.x {
    background-color: black;
    cursor:pointer;
}
.youtube {
    border : 0px;
}